


body{
	background-color: #000000;
	margin:0;
	padding:0;
	font-family: helvetica;
     font-family: LihulaBold;


}

#content_gradient{
	position: absolute;
	top:0;
	left:0;
	z-index: 10;
	opacity: 0.8;
}

#activities {
	width: 1800px;
	position: absolute;
	left: 60px;
	top:0px;
	-webkit-padding-start: 0;
	padding: 0;
	margin:0;
}

.action_icon_{
		float: right;
		margin-right: 60px;	
		margin-top: 40px;


}

#activities li {
	color: #FFFFFF;
	overflow: hidden;
	height: 280px;
	list-style: none;
	font-size: 24px;
	text-align: left;
	border: 0px dotted #FFFFFF;
	width: 100%;
	padding-top: 60px;
}

.lamp{
	width: 270px;
	height:280px;
		float: left;	

	text-align: center;
}

.message{
	height:280px;
	width:1200px;
	float: left;	
}

.photo{
	position: relative;
	height:280px;
	width: 330px;
	float: left;	
}

.ring_cut{
	position: absolute;
	top:0;
	left:0;
	z-index: 10;
}
